body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin:  5%;
  color: #FEF2BF;
  position:relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.btn {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  margin: 1rem;
  border: 10px solid black;
  border-radius: 20%;
  aspect-ratio: 2;
  transition: all 0.2s ease;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  animation: pressAndRelease 0.5s forwards;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version */
  touch-action: manipulation;  /* Disable double-tap zooming */
}

@keyframes pressAndRelease {
  0% {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  100% {
    box-shadow: none;
    background-color: initial;
  }
}